body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.loading-chart {
    text-align: center;
    vertical-align: middle;
    font-size: 42px;
    color: #CCCCCC;
}

#chart-container-outer { overflow: scroll; width: 500px; height: 210px; }
#chart-container-inner { width: 10000px; }

.chart-scroller {
    /*width:600px;*/
    height:130px;
    margin: 0px;
    /*background:#A3CBE0;
border:2px solid #000;*/
    overflow: auto;
    /*box-shadow:0 0 10px #000;*/
}

.chart-scroller ul {
    float: left;
    margin-right: -999em;
    white-space: nowrap;
    list-style: none;
    -webkit-padding-start: 0px;
}

.chart-scroller li {
    margin: 0px;
    text-align: center;
    float: left;
    display: inline;
    position: relative; 
}

.chart-scroller img {
    display: block;
    width: 200px;
    height: 100px;
}

.chart-scroller h2 { 
    position: absolute;
    left: 0;
    top: 35px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #5F5F5F;
}

.chart-scroller .chart-text { 
    position: absolute;
    left: 0;
    top: 35px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #5F5F5F;
}

/*.chart-scroller a:active img, #scroll a:focus img, #scroll a:hover img { border: 1px solid #000; }

.chart-scroller a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}*/

/*.chart-scroller a:active, #scroll a:focus, #scroll a:hover {
color:#FFF;
}

.chart-scroller span {
padding:5px 0 0;
display:block;
}*/

.selected-chart {
    padding: 2px;
	border-color: gray;
	border-style: solid;
	border-width: thin;	
}
.unselected-chart {
    padding: 2px;
	border-color: white;
	border-style: solid;
	border-width: thin;	
}

/* Bootstrap override */
.navbar-default {
  background-color: #428bca;
  border-color: #3276b1;
}
.navbar-default .navbar-brand {
  color: #fefefe;
}

.navbar-default .navbar-brand small{
    font-size:10px;
    font-style:oblique;
    color: #fefefe;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #fefefe;
}
.navbar-default .navbar-nav > li > a {
  color: #fefefe;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #3276b1;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #3276b1;
}
.navbar-default .navbar-toggle {
  border-color: #3276b1;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #3276b1;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fefefe;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fefefe;
}
.navbar-default .navbar-link {
  color: #fefefe;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}


.list-group li:nth-child(odd) {
    background-color: #f0f0f0;
}

.thumbnail-list .thumbnail {
    margin-top: 0px;
    margin-bottom: 10px;
}


.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 15px
}

.info-box small { font-size: 14px }

.info-box .progress {
    background: rgba(0, 0, 0, 0.2);
    margin: 5px -10px 5px -10px;
    height: 2px
}

.info-box .progress, .info-box .progress .progress-bar { border-radius: 0 }

.info-box .progress .progress-bar { background: #fff }

.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0, 0, 0, 0.2)
}

.info-box-icon > img {max-width: 100%;max-height: 100%; padding: 15px}

.info-box-content {
    padding: 5px 10px;
    margin-left: 90px
}

.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 24px
}

.info-box-text { text-transform: uppercase }

.info-box-more { display: block }

.bg-yellow {
    background-color: #f39c12;
}

.info-box-container {
    height: auto;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.level-info-box .progress {
    height:auto;
    background-color: #eeeeee;
    border: 2px solid #cccccc;
    border-radius: 4px;
}

.level-box {
    text-align:center;
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    border-radius: 2px;
    margin-top: 15px;
    margin-bottom: 15px
}
.level-box-content {
    padding: 5px;
}
.level-box-text { 
    font-size: 24px;
    text-transform: uppercase 
}

.level-box-number {
    display: block;
    font-weight: bold;
    font-size: 48px
}
.media-name{
    font-size: 24px;
    margin:10px 20px 10px 0;
}

.adminbody {
    padding-top: 10px;
    padding-bottom: 20px;
}

.badge-level {
    background-color: #FFFFFF;
    color: #3276b1;
}

/** Tango Color Scheme
 *
 * Butter              #fce94f, #edd400, #c4a000
 * Orange              #fcaf3e, #f57900, #ce5c00
 * Chocolate           #e9b96e, #c17d11, #8f5902
 * Chameleon           #8ae234, #73d216, #4e9a06
 * Sky Blue            #729fcf, #3465a4, #204a87
 * Plum                #ad7fa8, #75507b, #5c3566
 * Scarlet Red         #ef2929, #cc0000, #a40000
 *
 * Aluminium           #eeeeec, #d3d7cf, #babdb6
 *                     #888a85, #555753, #2e3436
 */

.tango-butter-l {
	background: #fce94f;
}
.tango-butter-m {
	background: #edd400;
}
.tango-butter-d {
	background: #c4a000;
}

.tango-orange-l {
	background: #fcaf3e;
}
.tango-orange-m {
	background: #f57900;
}
.tango-orange-d {
	background: #ce5c00;
}

.tango-chocolate-l {
	background: #e9b96e;
}
.tango-chocolate-m {
	background: #c17d11;
}
.tango-chocolate-d {
	background: #8f5902;
}

.tango-chameleon-l {
	background: #8ae234;
}
.tango-chameleon-m {
	background: #73d216;
}
.tango-chameleon-d {
	background: #4e9a06;
}

.tango-skyblue-l {
	background: #729fcf;
}
.tango-skyblue-m {
	background: #3465a4;
}
.tango-skyblue-d {
	background: #204a87;
}

.tango-plum-l {
	background: #ad7fa8;
}
.tango-plum-m {
	background: #75507b;
}
.tango-plum-d {
	background: #5c3566;
}

.tango-scarletred-l {
	background: #ef2929;
}
.tango-scarletred-m {
	background: #cc0000;
}
.tango-scarletred-d {
	background: #a40000;
}

.tango-aluminium-1 {
	background: #eeeeec;
}
.tango-aluminium-2 {
	background: #d3d7cf;
}
.tango-aluminium-3 {
	background: #babdb6;
}
.tango-aluminium-4 {
	background: #888a85;
}
.tango-aluminium-5 {
	background: #555753;
}
.tango-aluminium-6 {
	background: #2e3436;
}



/*----> Timeline <------*/



/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: #303e49;
}
header h1 {
  color: white;
  font-size: 18px;
  font-size: 1.125rem;
}
@media only screen and (min-width: 1170px) {
  header {
    height: 300px;
    line-height: 300px;
  }
  header h1 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #d7e4ed, inset 0 2px 0 rgba(0, 0, 0, 0), 0 3px 0 4px rgba(0, 0, 0, 0);
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img.cd-picture {
  background: #75ce66;
}
.cd-timeline-img.cd-movie {
  background: #c03b44;
}
.cd-timeline-img.cd-location {
  background: #f0ca45;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: #eeeeec;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 18px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #eeeeee;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 2rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1.6rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 0.3em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #eeeeee;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1.6rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #eeeeee;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
