@model Altidude.net.Models.ProfileEditViewModel

@{
    ViewBag.Title = "Edit Profile";
}


<div ng-app="altidudeApp" ng-controller="profileEditController as editController" ng-init="editController.init('@Model.ProfileId')">
    <div class="page-header">
        <div class="pull-right">
            <div class="btn btn-danger" ng-click="editController.delete()">Delete</div>
            <a href="/profile/detail/{{editController.profileId}}" class="btn btn-primary ">Finish &raquo;</a>
        </div>
        <h1>Edit Profile</h1>
    </div>

    <div id="chartRoot" class="profile-chart" chart="editController.chart" profile="editController.profile" result="editController.result" createBitmap="{{true}}" on-bitmap-created="editController.onBitmapCreated(base64Image)" style="width: 100%;"></div>

    <hr/>
    <div class="chart-scroller">
        <ul>
            <li ng-repeat="chartType in editController.chartTypes">
                <div ng-switch="chartType.isUnlocked">
                    <div ng-switch-when="true">
                        <img class="img-rounded" ng-class="editController.chart.id === chartType.id ? 'selected-chart' : 'unselected-chart'" src="~/Images/Charts/{{chartType.name}}.png" alt="{{chartType.name}}" ng-click="editController.selectChartType(chartType.id)">
                        <h2>{{chartType.name}}<br />Level {{chartType.unlockOnLevel}}</h2>
                    </div>
                    <div ng-switch-when="false">
                        <img class="img-rounded unselected-chart" src="~/Images/Charts/Locked.png" alt="Locked">
                        <h2><span class="glyphicon glyphicon-lock"></span>&nbsp;{{chartType.name}}<br />Level {{chartType.unlockOnLevel}}</h2>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>
