@model Altidude.net.Models.HomeViewModel
@{
    ViewBag.Title = "Create your own altitude profile, elevation profile or stage profile";
}

@section MetaTags
{
    <meta property="fb:app_id" content="700488523437920"/>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="http://www.altidude.net" />
    <meta name="twitter:creator" content="Altidude" />
    <meta property="og:url" content="http://www.altidude.net" />
    <meta property="og:type" content="fitness.course" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:image" content="http://www.altidude.net/images/profile_example.png" />
    <meta property="og:image:width" content="583" />
    <meta property="og:image:height" content="400" />
}

<div class="jumbotron">
    <h1>Create your own altitude profile, elevation profile or stage profile</h1>
    <p class="lead">Altidude.net is a tool for creating more fun altitude/elevation/stage profiles from your training data.</p>
    <p class="lead">How it works:</p>
    <ol>
        <li>Register, it's free</li>
        <li>Create profile from your training data (Strava or file)</li>
        <li>Select chart type</li>
        <li>Finish</li>
    </ol>
    <p><a href="/profile/create" class="btn btn-primary btn-lg">Create Profile</a></p>
    <p>TIP: Fastest way to earn XP is to share your profile on Facebook or Twitter</p>
</div>

<h2>Pick a chart</h2>
<div class="row thumbnail-list">
    @if (Model != null)
    {
        foreach (var chartType in Model.ChartTypes)
        {
            <div class="col-md-4 col-sm-6 col-xs-12">
                <a class="thumbnail" href="/profile/create/@chartType.Id">
                    <img class="img-responsive" src="~/Images/Charts/@(chartType.Name).png" alt="{{chartType.name}}">
                </a>
            </div>
        }
    }

</div>

@*<h2>Latest Profiles</h2>
<div class="row thumbnail-list">
    @if (Model != null)
    {
        foreach (var profile in Model.Profiles)
        {
            <div class="col-md-4 col-sm-6 col-xs-12">
                <a class="thumbnail" href="/profile/detail/@profile.Id">
                    <img class="img-responsive" src="https://altidude.blob.core.windows.net/chartimages/@(profile.Id).png" alt="@profile.Name">
                </a>
            </div>
        }
    }

</div>*@
